*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    scroll-behavior:smooth;
}

body{
    width: 100vh;
    /* background: #293a3d; */
    background: linear-gradient(90deg, #ff0000 0%, #00ff00 50%, #0000ff 100%);
    /* background: radial-gradient(ellipse at center, #00ffcc, #003366); */



}
.body_container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.large_container{
    border: solid 5px rgb(0, 0, 0);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0.8rem;
    gap: 0.4rem;
    width: 30%;
     background: radial-gradient(ellipse at center, #00ffcc, #003366);


}
#heading{
    text-align: center;
    color: rgb(63, 40, 196);
}
.search-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0.2rem 0rem;
}

.cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 5rem;
}

.carditem{
    border: 3px solid white;
    width: 20%;
    min-height: 20%;
    border-radius: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: 700;
    background: conic-gradient(#f22804  var(--progress-degree ,0%),#993d33 0%);



}